.background {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 500;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 600;
}

.alertContainer{
    display: none;
}

.alert {
  background-color: var(--grena-light);
  opacity: 1;
  position: absolute;
  color: white;
  border-radius: 15px;
  display: flex;
  z-index: 999;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: bouncing 0.2s linear infinite;
  animation-iteration-count: 2;
}

@keyframes bouncing {
    0%, 100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -60%) scale(1.02);
    }
  }

.alertHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: var(--grena-lighter) solid 1px;
}

.alertTitle{
    width: 100%;
    text-align: center;
}

.alertClose{cursor: pointer; font-size: 20px;}

.alertClose:hover{
    animation: rotate 1s ease-in-out infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(30deg);
    }
    40%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.alertBody {
  text-align: center;
  padding: 10px;
}
