.page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background);
    position: relative;
}

@media (max-width: 900px) {
    .page {
        flex-direction: column;
    }
}