.calendar {
    width: 20%;
    height: 20%;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    padding: 5px;
    transition: all .2s ease;
    text-align: center;
}

.calendar td {
    height: 15px;
    border: 1px solid #ddd;
}

.calendar td:not(.calendarToday):not(.calendarPast):not(.calendarEmpty) {
    background-color: white;
    cursor: pointer;
}

.calendar td:not(.calendarToday):not(.calendarEmpty):hover {
    background-color: #f1f1f1;
}

.calendarHeader {
    background-color: var(--grena);
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.calendarToday {
    background-color: var(--grena-light);
    color: white;
    &:hover {
        background-color: var(--grena-lighter);
    }
}

.calendarPast {
    background-color: #f1f1f1;
    color: black;
}

.calendarEmpty {
    background-color: #f1f1f1;
    cursor: default;
}

.calendarTitle {
    font-size: 24px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: white;
    background: var(--grena);
    text-align: center;
    text-transform: uppercase;
}


@media (max-width: 768px) {
    .calendar{
        width: 100%;
    }
}