.cartContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    border: 3px solid var(--grena-light);
    border-radius: 20px 0 20px 0;
    position: relative;
    gap: 15px;
    padding: 25px 10px;
    padding-bottom: 15px;
}

.cartButton{
    background: var(--grena-light);
    color: var(--background);
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .3s ease;
    text-transform: uppercase;
    font-weight: bold;
    &:hover{
        background: var(--grena-lighter);
    }
    &:active{
        transform: scale(0.9);
    }
}

.cartOptions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.cartContainerTitle{
    background: var(--background);
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateY(-50%);
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--grena);
}

.cartListContainer{
    display: grid;
    grid-template: "1fr 1fr";
    gap: 30px;
}

.cartItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 35px;
    border: solid 1px var(--grena-light);
    border-radius: 10px;
    transition: all .3s ease;
    &:hover {
        box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
        transform: scale(1.02);
    }
    &:hover .cartRemoveButton{
        opacity: 1;
    }
}

.cartRemoveButton{
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease;
    &:hover{
        color: var(--grena);
    }
    &:active{
        transform: scale(0.9);
    }
}

.cartEmpty{
    text-align: center;
}

.cartLink{
    color: var(--grena);
    cursor: pointer;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        border-radius: 15px;
        background-color: var(--grena);
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: all .3s ease;
    }
    
    &:hover{
        color: var(--grena-light);
    }
    &:hover::after{
        width: 100%;
        background-color: var(--grena-light);
    }
}