.checkout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.checkoutContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.checkoutLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 20px;
    padding: 20px;
    border: solid 3px var(--grena-light);
    border-radius: 0 20px 0 20px;
}

.checkoutRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap: 20px;
    padding: 20px;
    border: solid 3px var(--grena-light);
    border-radius: 20px 0 20px 0;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}