@keyframes upToDown {
    0% {
        transform: translateY(-50%) translateX(100%);
    }
    100% {
        transform:  translateY(-50%) translateX(0);
    }
}

.checkout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.checkoutContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.checkoutLeft{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
}

.checkoutRight{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateX(100%) translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 20px;
    border: solid 3px var(--grena-light);
    background-color: var(--grena-light);
    color: #fff;
    border-radius: 20px 0 0 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: upToDown 1s ease-in-out forwards;
    animation-delay: 2s;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.checkoutItem{
    background-image: url(https://i.imgur.com/cDDozxR.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    display: flex;
    height: 190px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    color: var(--grena-light);
    &:hover .checkoutItemData{
        bottom: 0;
        transform: translateY(0%);
        background: var(--background);
        
    }

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
}

.checkoutItemData{
    position: absolute;
    bottom: -20%;
    transform: translateY(10%);
    background: var(--background);
    left: 0;
    width: 100%;
    text-align: center;
    border: none;
    padding: 5px;
    transition: all .3s ease-in-out;
    z-index: 2;
}

@media (max-width: 768px) {
    .checkoutContainer{
        flex-direction: column-reverse;
    }

    .checkoutLeft{
        width: 100%;
    }

    .checkoutRight{
        width: 100%;
        position: initial;
        transform: translateX(0) translateY(0);
        border-radius: 0;
        box-shadow: none;
        animation: none;
    }
}