:root{
    --logo-cfcsn-w-vert: url('../public/images/logo-cfcsn-w-vert.png');
    --logo-cfcsn-w-horiz: url('../public/images/logo-cfcsn-w-horiz.png');
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--grena);
    color: white;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
  }

  .footerCopy{
    gap: 10px;
  }

  .footerBody{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    width: 100%;
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

.socialMedia{
  font-size: 32px;
}

.footerBodyItem{
  display: flex;
  width: 40%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

  .footerLogo{
    width: 100%;
    height: 80px;
    background-image: var(--logo-cfcsn-w-horiz);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .footerBottom{
    width: 100%;
    padding: 20px;
    background-color: var(--foreground);
  }

  .footerBottom p {
    text-align: center;
  }

  .footerCopy{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer img {
    flex-shrink: 0;
    width: 45%;
    height: 100%;
  }

  .footerBodyItem:nth-child(1) a, .footerBottom a {
    position: relative;
    
    &::after{
      content: '';
      width: 0%;
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      transition: all 0.3s ease-in-out;
    }
  }
  
  @media (hover: hover) and (pointer: fine) {  
    .footer a:hover::after {
      width: 100%;
    }
  }
  
  /* @media (max-width: 1280px) {
    .footer {
      margin-top: 100px;
    }
} */

  @media (max-width: 600px) {
    .footer {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .footerCopy{
      flex-direction: column;
      gap: 5px;
    }
    .footerPipeline{
      display: none;
    }

    .footerBody {
      flex-direction: column;
      gap: 50px;
    }

    .footerBodyItem {
      width: 100%;
      text-align: center;
    }

    .footerLogo{
      background-image: var(--logo-cfcsn-w-vert);
      height: 130px;
    }

    .footerBodyItem:nth-child(1) p{
      font-size: 14px;
    }

    .socialMedia{
      font-size: 40px;
    }
  }