@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grena: #7d0400;
  --grena-light: #a00001;
  --grena-dark: #4d0001;
  --grena-darker: #2e0001;
  --grena-darkest: #1a0001;
  --grena-lighter: #c40001;
  --grena-lightest: #f2f2f2;
  --grena-lightest-hover: #e6e6e6;
  --grena-lightest-active: #d9d9d9;
  --grena-lightest-focus: #c4c4c4;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%; /* Garante altura base */
  background-color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  transition: 0.25s ease;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input{
  padding: 10px;
  font-size: 16px;
  color: var(--grena);
  border: solid var(--grena) 1px;
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s linear;
}

input[type="submit"]{
  text-transform: uppercase;
  font-weight: bold;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--grena);
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--grena);
}

::selection {
  color: white;
  background: var(--grena);
}
/* No seu globals.css */
.Toastify__toast-container {
  z-index: 99999 !important; /* Garante que fique acima de tudo */
}