@keyframes surge{
    from{
        top: -100%;
    }
    to{
        top:0;
    }
}

@keyframes disaper{
    from{
        top: 0;
        display: flex;
    }
    to{
        top: -100%;
        display: none;
    }
}

@keyframes userOptionsVisible {
    from{
        opacity: 0;
        top: 100%;
    }
    to{
        opacity: 1;
        top: 150%;
    }
}

@keyframes userOptionsInvisible {
    from{
        opacity: 1;
        top: 150%;
    }
    to{
        opacity: 0;
        top: 100%;
    }
}

@keyframes chevronRotateActive {
    from{
        transform: rotateX(0);
    }
    to{
        transform:rotateX(180deg)
    }
}

@keyframes chevronRotateInactive{
    from{
        transform: rotateX(180deg);
    }
    to{
        transform:rotateX(0)
    }
}
.header{
    width: 100%;
    height: 70px;
    padding: 10px;
    top: -100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    transition: all 0.5s linear;
    z-index: 999;
    background-color: var(--background);
    box-shadow: rgb(115 0 1 / 15%) 0px 14px 28px, rgb(115 0 1 / 5%) 0px 10px 10px;
    animation: disaper 0.5s linear;
    display: none;
}

.headerActive{
    display: flex;
    top: 0;
    animation: surge 0.5s linear;
}

.navigateOptions{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.navigateOptions span{
    cursor: pointer;
    position: relative;
    color: #333;
    transition: all 0.3s linear;
    
    &::after{
        content: '';
        width: 0;
        background-color: var(--grena);
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.2s linear;
    }
}

.navigateOptions li:hover span::after{
    width: 100%;
}

.activePage span{
    font-weight: bold;
    color: var(--grena);
    
    &::after{
        width:100%;
        height:2px;
    }
}

.profileOptions{
    position: relative;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    transition: all 0.2s linear;
}
.profileOptions svg:not(.optionsChevronActive){
    animation: chevronRotateInactive 0.2s linear;
}

.optionsChevronActive{
    transform: rotateX(180deg);
    animation: chevronRotateActive 0.2s linear;
}

.profileOptions p{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.userOptions{
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    list-style: none;
    text-transform: capitalize;
    width: 200px;
    gap: 15px;
    padding: 15px;
    background-color: white;
    position: absolute;
    flex-direction: column;
    z-index: 999;
    transition: all 0.3s linear;

    &:not(.userOptionsActive){
        animation: userOptionsInvisible 0.3s linear;
        top: 100%;
        display: none;
    }
}

.userOptionsActive{
    display: flex;
    animation: userOptionsVisible 0.3s linear;
    top: 150%;
}

.userOptions span{
    position: relative;
    &::after{
        content: '';
        width: 0;
        background-color: #333;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.2s linear;
    }
}

.userOptions li{
    cursor: pointer;
    &:hover span::after{
        width: 100%;
    }
}