.horizontalNavigation{
    max-width: 50%;
    margin: 0 auto;
    position: relative;
    top: -30px;
    z-index: 30;
}

.horizontalItemList{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    list-style: none;
    background: var(--grena-light);
    text-align: center;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.horizontalItem{
    position: relative;
    cursor: pointer;
}

.horizontalItem:hover span::after{
    width: 100%;
}

.horizontalItem span::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s;
}


@media (max-width: 768px) {
    .horizontalNavigation{
        max-width: 100%;
        top: -30px;
    }
}

@media (max-width: 600px) {
    .horizontalItemList{
        gap: 20px;
        padding: 15px;
        font-size: 16px;
    }
}