.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 1px;
    height: 720px;
}
.gridItem{
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}
.gridItemImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gridItemOverlay{
    position: absolute;
    top: 0;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(165deg, rgb(255 255 255 / 0%) 69%, rgb(0 0 0 / 65%) 85%, rgb(0 0 0) 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    opacity: 1;
    transition: opacity .3s;
}
.gridItemTitle{
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    text-align: right;
}