.latestAppointmentsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    position: relative;
    min-height: 150px;
    border: 3px solid var(--grena-light);
    border-radius: 0 0 20px 0;
    gap: 15px;
    padding: 25px 10px 15px;
}

.latestAppointmentsContainerTitle{
    background: var(--background);
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateY(-50%);
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--grena);
}

.latestAppointmentsEmpty{
    text-align: center;
}

@media (max-width: 768px) {
    .latestAppointmentsContainer{
        width: 95%;
    }

    .latestAppointmentsContainerTitle{
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .latestAppointmentsContainerTitle{
        font-size: 16px;
    }
}