.latestAppointmentsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 3px solid var(--grena-light);
    border-radius: 0 20px 0 20px;
    position: relative;
    gap: 15px;
    padding: 25px 10px;
    padding-bottom: 15px;
    min-height: 150px;
}

.latestAppointmentsContainerTitle{
    background: var(--background);
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateY(-50%);
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--grena);
}

.latestAppointmentsEmpty{
    text-align: center;
}