:root{
    --logo-vert: url('../public/images/logo-cfcsn-vert.png');
    --logo-horiz: url('../public/images/logo-cfcsn-horiz.png');
}

.sidebar{
    position: absolute;
    z-index: 100;
    background: var(--background);
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    animation: entry 0.5s ease-in-out;
}

.fullGridRow{
    grid-column:1 / 3
}


.sidebarHeader{
    width: 100%;
    display: flex;
    height: 25%;
    background-size: contain;
    align-items: center;
    background-image: var(--logo-horiz);
    background-repeat: no-repeat;
    background-position: center;
}

.sidebarBody{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
}

.gridRow{
    text-align: center;
  }

.buttonOutlined{
    background-color: var(--background);
    color: var(--grena-lighter);
    border: solid 2px var(--grena-lighter);
}
.buttonOutlined:hover{
    background-color: var(--grena-lighter);
    color: var(--background);
    cursor: pointer;
}

.button{
    background-color: var(--grena-light);
    border: none;
    color: white;
}
.button:hover{
    background-color: var(--grena-lighter);
    cursor: pointer;
}

.actionText{
    color: var(--grena-light);
    cursor: pointer;
    position: relative;
}

.actionText::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: var(--grena-lighter);
    transition: all 0.3s;
}

.actionText:hover::after{
    width: 100%;
}


@keyframes entry {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes exit {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


@media (max-width: 1200px) {
    .sidebar{
        width: 30%;
    }
}

@media (max-width: 1024px) {
    .sidebar{
        width: 40%;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 600px) {
    .sidebar{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        height: 80%;
        border-radius: 15px;
        gap: 15px;
        padding: 15px;
    }

    .sidebarBody{
        grid-template-columns: 1fr;
    }

    .gridRow{
        grid-column: 1 / 2;
    }
    .sidebarHeader{
        background-image: var(--logo-vert);
    }

    .loginMessage{
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
}