.placeBanner{
    margin-top: 70px;
    width: 100%;
    height: 55svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
    z-index: 0;

    &::after{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: black;
        opacity: 0.7;
        left: 0;
        z-index: 1;
    }
}

.placeBannerCover{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-size: 32px;
}

.placeList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: row;
}

.placeCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 350px;
    height: 197px;
}

.placeCardImage{
    height: 80%;
    width: 100%;
    background-color: var(--grena);
    background-repeat: no-repeat;
    background-size: cover;
}

.placeCardInfo{
    border: 1px solid var(--grena);
    width: 100%;
    height: 20%;
    padding: 5px;
    text-align: center;
}