.placeBanner {
  width: 100%;
  height: 55svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position-y: 30%;
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.6;
    left: 0;
    z-index: 1;
  }
}

.placeBannerCover {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 32px;
}

.placeList {
  display: grid;
  grid-template: "1fr 1fr 1fr" auto;
  gap: 30px;
}

.placeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 350px;
  height: 197px;
  position: relative;
  overflow: hidden;

  &:hover .placeCardInfo {
    bottom: 0;
  }
}

.placeCardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  width: 100%;
  background-color: var(--grena);
  background-repeat: no-repeat;
  transition: all 0.2s linear;
  background-size: cover;
}

.placeCardInfo {
  width: 100%;
  height: 30%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  background: var(--background);
  border-top: solid 1px;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
  position: absolute;
  bottom: -10%;
}


.placeCardInfo a{
  color: var(--grena-light);
  text-transform: uppercase;
  font-weight: bold;
  &:hover{
    color: var(--grena-lighter)
  }
}

.placeCardDisabled{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  cursor: not-allowed;
}

.placeCardDisabled span{
  color: var(--grena-light);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.placeCardDisabled .placeCardImage{
  filter: grayscale(1);
}

.placeContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  min-height: 200px;
  width: 60%;
  position: relative;
  margin-bottom: 25px;
  border-radius: 20px 0 20px 0;
  border: solid 3px var(--grena-light);
}

.placeTitle{
  background-color: var(--background);
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  position: absolute;
  left: 20px;
  top: 0;
  color: var(--grena-light);
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.placeRules{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  align-items: center;
}

.placeImage
{
  position: absolute;
  top: 0;
  border-radius: 0px 0px 20px 0px;
  right: 0;
}

.dateSelectionContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--grena);
  gap: 20px;
  color: white;
  margin-bottom: 20px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.dateSelectionContentView{
  max-width: 1064px;
  width: 100%;
  display: block;
  height: 22px;
  overflow: hidden;
  position: relative;
}

.dateSelection{
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.dateSelectionItem{
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.1s linear;
  cursor: pointer;
  position: relative;
  width: calc((1064px - (45px * 6)) / 7);
  text-align: center;

  &::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: var(--background);
    transition: all 0.2s linear;
  }
  &:hover::after{
    width: 100%;
  }
}

.dateSelectedItem{
  text-transform: capitalize;
  font-weight: 700;

  &::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: var(--background);
    transition: all 0.2s linear;
  }
}

.dateSelectionArrow{
  cursor: pointer;
  animation: all .5s linear;
  &:active{
    transform: scale(0.9);
  }
}

.choosingContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
}
.choosingSteps{
  width: 100%;
  display: flex;
  z-index: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &::after{
    content: "";
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    width: 0%;
    top: 50%;
    right: -10px;
    z-index: 10;
    height: calc(100% + 10%);
    background-color: var(--background);
    transform: translateY(-50%) scale(1.015);
    animation: loadLeft-right 5s ease;
  }
}

.stepBar{
  display: block;
  background-color: var(--grena-light);
  width: 100%;
  z-index: -1;
  height: 5px;
  left: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.stepItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  padding: 10px 20px;
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  border: 3px solid var(--grena-light);
  border-radius: 5px;
  &:nth-child(1){
    background-color: var(--grena-light);
    color: white;
  }
  &:nth-child(2){
    background-color: var(--grena-light);
    color: white;
  }
  &:nth-child(3){
    transform: scale(1.05);
  }
}


@keyframes loadLeft-right {
  0% {
    width: 102%;
  }
  100% {
    width: 0%;
  }
  
}

@media (max-width: 1200px) {
  .placeList{
    grid-template: "1fr 1fr";
  }
}

@media (max-width: 768px) {
  .placeContainer{
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .placeImage{
    position: initial;
    width: 100%;
    height: 100%;
  }

  .placeRules{
    font-size: 20px;
    color: var(--grena-light);
    font-weight: bold;
  }
}

@media (max-width: 600px) {
  .placeList{
    grid-template: "1fr";
  }
}