.scheduleContainer {
    width: 100%;
}

.scheduleTitle {
    font-size: 24px;
    padding: 10px;
    color: white;
    background: var(--grena);
    text-align: center;
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
}

.scheduleList {
    list-style-type: none;
    display: grid;
    grid-template: "1fr 1fr 1fr";
    gap: 20px;
}

.scheduleItem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: all .2s ease;
    cursor: pointer;
}

.scheduleItem:not(.currentHour):not(.unavailable):not(.reserved):not(.selected):not(.prevSelected):not(.unavailableHour) {
    background-color: white;
    &:hover {
        background-color: #f0f0f0;
    }
}



.reserved, .currentHour{
    background-color: var(--grena);
    cursor: not-allowed;
    color: white;
}

.unavailableHour{
    background-color: var(--grena-lightest-focus);
    cursor: not-allowed;
    color: var(--background);

}

.reserved{
    background-color: var(--grena-light);
}

.selected:not(.reserved):not(.unavailableHour) {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transform: scale(1.02);
}


.prevSelected{
    background-color: var(--grena-light);
    cursor: not-allowed;
    color: white;
}

.placeContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 60%;
    min-height: 25svh;
  }

  .calendarContainer{
      display: flex;
      flex-direction: column;
      gap: 20px;
  }

@media (max-width: 768px) {
    .placeContainer{
        flex-direction: column;
        width: 90%;
    }
    .calendarContainer{
        width: 100%;
    }
}