@keyframes squareScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.squareContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70svh;
}

.carousel {
    display: flex;
    flex-direction: row;
    /* background-color: var(--grena); */
    gap: 0;
    height: 100%;
    animation: squareScroll linear infinite;
    animation-duration: 60s;

    &:hover{
        animation-play-state: paused;
    }
}

.square {
    background-color: var(--grena-light);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    width: 400px;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    z-index: 0;
    &:nth-child(even) {
        background-color: var(--grena-lighter);
        top: 10%;
    }

}

.squareInfo{
    color: white;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.square:hover .squareInfo{
    opacity: 1;
}

.square:hover::before{
    opacity: 0.7;
}

.square::before{
    content: '';
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
    z-index: 1;
}

.title{
    font-weight: bold;
    font-size: 24px;
}