@keyframes squareScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.squareContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 85svh;
    overflow: hidden; 
    position: relative;
}

.carousel {
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 100%;
    width: max-content; 
    animation: squareScroll linear infinite;
    animation-duration: 120s;
    &:has(.square:hover) {
        animation-play-state: paused;
    }
}

.square {
    background-color: var(--grena-light);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    width: 500px;
    height: 75svh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    z-index: 0;
    flex-shrink: 0; 
    &:nth-child(even) {
        align-self: flex-start;
    }
    &:nth-child(odd) {
        align-self: flex-end;
    }
}

.squareInfo {
    color: white;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease;
}

.square:hover .squareInfo {
    opacity: 1;
}

.square::before {
    content: '';
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
    z-index: 1;
}

.square:hover::before {
    opacity: 0.7;
}

.title {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
} 

.squareImage {
  object-fit: cover; 
  z-index: -1;
}

@media (max-width: 768px) {
    .square {
        width: 300px;
        height: 75svh;
    }
    .squareContainer {
        height: 75svh;
    }
    .carousel {
        animation-duration: 60s; 
    }
}